/* fonts */
@font-face {
  font-family: 'SageSans';
  src: local('SageSans'), url(./fonts/sagesans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'BadComic';
  src: local('BadComic'), url(./fonts/BadComic-Regular.ttf) format('truetype');
}

h1 {
	font-family: BadComic, sans;
	font-size: calc(15px + 4vmin);
	margin-bottom: 0.5em;
	display: inline;
}

h2 {
	font-family: BadComic, sans;
	font-size: calc(14px + 3vmin);
	margin-bottom: 0.5em;
	display: inline;
}

h3 {
	font-family: BadComic, sans;
	font-size: calc(13px + 3vmin);
	margin-bottom: 0.5em;
	display: inline;
}

p, li {
	font-family: SageSans, serif;
	font-size: calc(15px + 2vmin);
	margin: 0.35em;
}

a {
	font-family: SageSans, serif;
	font-size: calc(15px + 2vmin);
}

span {
	display: block;
}

blockquote {
  font-family: BadComic, sans;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}
.button {
	font-family: BadComic, sans;
	font-size: calc(14px + 2vmin);
	text-decoration: none;
	background: none;
	background-color: #fed136;
	color: rgba(255, 255, 255, 0.80);
    border: none rgba(0, 0, 0, 0);
	padding: 0.5em 0.75em;
	border-radius: 6px;
	box-shadow: none;
	cursor:pointer;
	margin-bottom: 1em;
}


pre, code {
  font-family: monospace;
  font-size: calc(14px + 1.25vmin);
}

pre {
  overflow: auto;
  white-space: pre;
  border: 1px solid #999;
}

pre > code {
  display: block;
  padding: 1rem;
  word-wrap: normal;
}

/* App */

.App {
  text-align: center;
}

.App-logo {
	text-align: center;
	height: 40vh;
	pointer-events: none;
}

.App-header {
	font-family: BadComic, sans;
	font-size: calc(10px + 2vmin);
	background-color: #f8e4fffe;
	width:auto;
	min-height: 40vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}

@media only screen and (hover: none) and (pointer: coarse){
	.App-centered {
		background-color: #ffffff;
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		font-size: calc(10px + 2vmin);
		color: black;
		margin: 0 clamp(5vw, 10vw, 10vw) 1vw;
	}
}

@media only screen and (min-width: 1025px) {
	.App-centered {
		background-color: #ffffff;
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		font-size: calc(10px + 2vmin);
		color: black;
		margin: 0 clamp(5vw, 25vw, 25vw) 1vw;
	}
}

.App-text {
	font-family: SageSans, sans;
	font-size: calc(10px + 2vmin);
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	text-align: left;
	align-items: left;
	color: black;
	padding: 1em;
}

.App-link {
	color: #61dafb;
}

.App-timeline {
	min-width: 50vw;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	font-family: BadComic, sans;
	font-size: calc(10px + 1vmin);
	color: black;
}

/* HOME IMAGES */

.email,.instagram {
	display: inline-block;
	text-align: center;
	height: 3em;
	margin: 1em;
}

.email:hover,.instagram:hover {
	background-color: #e6fefe;
}

._404 {
	display: inline-block;
	text-align: center;
	width: 10em;
	margin-top: 0.1em;
}

#my-line {
	font-family: SageSans, serif;
	font-size: calc(15px + 1.75vmin);
	margin-bottom: 1em;
}

/* BUTTONS */

.btn-flat {
	font-family: BadComic, sans;
	background-color: #fed136;
    color: white;
	margin-bottom: 1em;
}

.btn-flat:hover {
	color: white;
}

/* TOOLTIPS */

.tooltip-inner {
	font-family: SageSans, sans;
	font-size: calc(10px + 1.5vmin);
	background-color: #f7ffd8;
	color: #000000;
}

/* markdown */
.markdown {
	text-align: left;
}

/* Comments */

hr {
  border: 2px dashed;
}

ul.comment {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#comment-new-input {
	font-family: SageSans, serif;
	font-size: calc(15px + 1.75vmin);
	margin: 0.35em;
}

.comment-text {
	font-family: SageSans, serif;
	font-size: calc(14px + 2vmin);
	margin: 0.35em;
}

.comment-date {
	font-family: SageSans, serif;
	font-size: calc(11px + 2vmin);
	color: gray;
	margin: 0.35em;
}
